.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    background: rgb(0, 128, 198);
    height: 120px;
}

.footer {
    background: rgb(0, 128, 198);
    height: 80px;
}

.main {
    text-align: left;
    background: rgb(255, 255, 255);
    height: 300px;
    font-size: 24px;
}

.aside1 {
    background: rgb(255, 194, 14);

}

.aside2 {
    background: rgb(255, 194, 14);
}
@media all and (min-width: 800px){
    .main{
        flex: 3;
    }
    .aside1{
        order: 1;
    }
    .aside2{
        order: 2;
    }
    .main{
        order: 2;
    }
    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}